body{
background-image: url("im");

}   

.container{

    width: 70%;
    margin: auto;
}

p{
    color:#050505;
    font-size: 1em;
}

h2,h1{
    color: #ffffff;
    text-aling: center;
}

 figure{ 
text-aling:center;
}

.img_topo{
    width:100%;
}

.img_corpo{
    width:100% ;
}

{animation-duration

}

p.four {
    border-style: dotted;
    border-width: thick;
  }


